@import "tailwindcss";
@theme {
    /* buat warna primery, secondary, dark */
    --color-primary:#141E61;
    --color-secondary:#787A91;
    --color-light:#F2F2F2;
    --color-dark:#0F044C;
}

@layer utilities {
    /* ubah font */
    body {
        font-family: 'inter', 'sans-serif';
    }
    /* style tombol hamburger */
    .hamburger-line {
        @apply w-[30px] h-[2px] my-2 block bg-dark;
    }
    /* efek hamburger-active ketika  tombol diklik */
    .hamburger-active > span:nth-child(1) {
        @apply rotate-45;
    }
    .hamburger-active > span:nth-child(2) {
        @apply scale-0;
    }
    .hamburger-active > span:nth-child(3) {
        @apply -rotate-45;
    }
    /* efek ketika scroll */
    .navbar-fixed {
        @apply fixed z-[1999] bg-white/40 backdrop-blur-lg shadow-md;
    }
}