body {
    width: 100%;
    flex-wrap: wrap;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    height: 60px;
    background-color: black;
    align-items: center;
    position: fixed;
}

.nav li {
    display: inline;
    margin: 20px;
    color: white;
}

.nav {
    margin-left: 700px;
}

.title {
    color: white;
}

a {
    text-decoration: none;
}

.bt-small {
    background-color: white;
    border-radius: 10px;
    width: 300px;
    height: 40px;
    gap: 20px;
}

.bt-small p {
    color: grey;
    margin: 0;
    padding: 10px;
}

#home {
   
    display: flex;
    
}

.text {
    width: 700px;
    margin-top: 200px;
    margin-left: 100px;
}

#kategori {
    margin: 100px;
}

.content {
    display: flex;
    gap: 50px;
}

.content-1 {
  display: flex;
  flex-wrap: wrap; /* biar turun ke bawah kalau sudah penuh */
  justify-content: center; /* biar rata tengah (bisa diganti space-between) */
  gap: 20px; /* jarak antar box */
  padding: 20px;
}

.box-medium {
    border: 3px solid black;
    border-radius: 20px;
    width: 250px;
    height: 250px;
    text-align: center;
    margin: 10px;
}

.box-small {
  width: 150px;  /* atur lebar tiap box */
  height: 200px; /* tinggi opsional */
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#pre {
    margin: 100px;
}

#store {
    margin: 100px;
}

.store-content {
    display: flex;
    gap: 190px;
}

.store-info {
    width: 700px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    height: 60px;
    background-color: black;
    align-items: center;
    color: white;
}

.box-medium img {
    margin-top: 20px;
    width: 200px;
    height: 170px;
}

.box-small p {
    font-size: 12px;
    text-align: center;
}
